// Generate variables for the colours
$primary-color: #7db344;
$secondary-color: #b3d48f;
$accent-color: #547f27;
$background-color: #fff;

$success-color: var(--mantine-color-green-6);
$error-color: var(--mantine-color-red-6);
$warning-color: var(--mantine-color-orange-6);

$border-color: #ccc;
$border-radius: 8px;
